{{define "logs"}}
<!DOCTYPE html>
<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Calls toolkit</title>
    <style type="text/css">
    html,body{width:100%;height:100%;padding: 0;margin: 0;overflow: hidden;font-family:"Arial";background:#232323;}
table{table-layout:fixed;width:100%;border: 0px;border-collapse:collapse;counter-reset:0;}
table tr {counter-increment: rowNumber;}
table tr td:first-child::before {content: counter(rowNumber);}
tr:hover td{color:#000;background: #CCC;background-clip: padding-box; border-bottom: 1px solid #444;}
th{color:#DDD;background-color:#555;text-align:left;padding-left:4px;padding-bottom: 2px;padding-top: 2px;}
td{font-size: 10px;color:#444;background-color: #FFF;}
tr{font-family:"Arial";font-weight: lighter;font-size: 10px;color:#444;background-color:#FFF;border-bottom: 1px solid #444;border-right:1px solid #444;}
td{padding-left:5px;padding-bottom: 2px;padding-top: 2px;}
.bh{border-right:1px solid #DDD;}
.bt{border-right:1px solid #444;}
.left{position:fixed;width:33%;left:0px;padding-left:5px;color: #DDD;background:#222;height:30px;top:10px;font-size:12px;text-align:left;}
.cent{position:fixed;width: 34%;left:33%;color: #DDD;background:#222;height:30px; top:10px;font-size:12px;text-align:center;}
.righ{position:fixed;width: 33%;right:0px;padding-right:5px;color: #DDD;background:#222;height:30px; top:10px;font-size:12px;text-align:right;}
.head{position:fixed;width:100%;left:0;top:30px;height:30px;}
.temp{position:absolute;left:0;top:60px;right:-13px;bottom:25px;overflow-y:scroll;}
.bott{position:fixed;z-index:2;width:100%;left:0;height: 25px;bottom:0px;border: none;outline:none;background-color: #222;color:#CFF;text-align: right;}
input[type="text"]{outline:none;border:0px;color:#FFF;background: transparent;font-size:12px;}
#cdate{color:#CFF;}
#ldr{display:none;position:absolute;bottom:5px;left:50%;width:30px;height:10px;border: none;outline:none;background:#232323}
    </style>
    <meta charset="UTF-8">
    </head>
    <body>
    <div class="left"><span>Finder query report</span></div>
    <div class="cent"><span id="cdate">{{.DT}}</span></div>
    <div class="righ">:</div>
    <table class="head">
      <col width="3%" class="bh">
      <col width="6%" class="bh">
      <col width="3%" class="bh">
      <col width="3%" class="bh">
      <col width="9%" class="bh">
      <col width="4%" class="bh">
      <col width="4%" class="bh">
      <col width="4%" class="bh">
      <col width="12%" class="bh">
      <col width="12%" class="bh">
      <col width="12%" class="bh">
      <col width="12%" class="bh">
      <col width="4%" class="bh">
      <col width="4%" class="bh">
      <col width="4%" class="bh">
      <col width="4%" class="bh">
      <thead>
      <tr>
      <th>#</th>
      <th>Час</th>
      <th>К-ть</th>
      <th>Т-ть</th>
      <th>Адреса</th>
      <th>Стан.</th>
      <th>Стр.</th>
      <th>Кат.А</th>
      <th>Номер А</th>
      <th>Номер Б</th>
      <th>Дата початку</th>
      <th>Дата кінця</th>
      <th>Напр.</th>
      <th>Вх.Г.</th>
      <th>Вих.Г.</th>
      <th>Сек.</th>
    </tr>
    </thead>
  </table>
<div class="temp">
  <table>
    <col width="3%" class="bt">
    <col width="6%" class="bt">
    <col width="3%" class="bt">
    <col width="3%" class="bt">
    <col width="9%" class="bt">
    <col width="4%" class="bt">
    <col width="4%" class="bt">
    <col width="4%" class="bt">
    <col width="12%" class="bt">
    <col width="12%" class="bt">
    <col width="12%" class="bt">
    <col width="12%" class="bt">
    <col width="4%" class="bt">
    <col width="4%" class="bt">
    <col width="4%" class="bt">
    <col width="4%" >
   <tbody>
	{{range .RC}}
	<tr><td></td><td>{{.A}}</td><td>{{.C}}</td><td>{{.D}}</td><td>{{.B}}</td><td>{{.E.Sw}}</td><td>{{.E.Hi}}</td><td>{{.E.Sc}}</td><td>{{.E.Na}}</td>
	<td>{{.E.Nb}}</td><td>{{.E.Ds}}</td><td>{{.E.De}}</td><td>{{.E.Dr}}</td>
	<td>{{.E.It}}</td><td>{{.E.Ot}}</td><td>{{.E.Du}}</td></tr>
	{{end}}
</tbody>
	</table></div>
	<script type="text/javascript">document.getElementById("cdate").innerHTML = cd(0);</script>
 </body></html>
 {{end}}
