{{define "reps"}}
<!DOCTYPE html>
<html><head>
    <title>Calls Toolkit</title>
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="autolink" content="no"/> 
    <style type="text/css">
    body{font-family: Arial;width:100%;height:100%;margin:0;padding:0;background:#232323;}
table{font-family: Arial;width:400px;margin:auto;border-collapse:collapse;}
.tab0{display: table;margin-right: auto;margin-left: auto;background-color:#232323;width:400px;margin-top:40px;}
.time{color:#BBC;margin:0 auto;width:400px;height:20px;padding-top:10px;text-align: center;font-size:14px;}
td:nth-child(1) {background-color:#2d2d2d;border-right:1px solid #222; }
td:nth-child(2) {background-color:#3d3d3d;border-right:1px solid #222; }
td:nth-child(3) {background-color:#3d3d3d;border-right:1px solid #222; }
td:nth-child(4) {background-color:#3d3d3d;border-right:1px solid #222; }
td:nth-child(5) {background-color:#3d3d3d; }
.dn{color:#FF0;font-weight:lighter;font-size:10px;text-align:right;}
.up{color:#0F0;font-weight:lighter;font-size:10px;text-align:right;}
.dt{color:#BBC;font-weight:lighter;font-size:10px;text-align:center;}
.tl{color:#CFC;font-weight:lighter;text-align: center;font-size:12px;}
.fs{color:#CFF;font-weight:lighter;text-align: center;font-size:12px;}
.si{color:#CFF;font-weight:lighter;text-align: center;font-size:12px;}
.es{color:#CFF;font-weight:lighter;text-align: center;font-size:12px;}
.bt{color:#CFC;font-weight:lighter;text-align: right;font-size:12px;padding-right:5px;}
.rc{border-bottom:1px solid #232323;}
.th{color:#CFC;font-weight:lighter;text-align: center;font-size:12px;background-color: #232323;padding-bottom: 5px;}
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
</style>
</head>
<body>
      <div class="tab0"><table>
	<tr><th class="th" colspan="5">{{.DT}}</th></tr>
        <tr class="rc"><td class="tl">{{.TM}}</td><td class="fs">IAD</td><td class="fs">AMA</td><td class="si">SI2K</td><td class="es">ES11</td></tr>
        {{range .Fc}}
        <tr class="rc"><td class="dt">{{.T}}</td><td class="{{.VA}}">{{.A}}</td><td class="{{.VB}}">{{.B}}</td><td class="{{.VC}}">{{.C}}</td><td class="{{.VD}}">{{.D}}</td></tr>{{end}}
        <tr class="bt"><td class="tl">{{.AL.A}}</td><td>{{.AL.B}}</td><td>{{.AL.C}}</td><td>{{.AL.D}}</td><td>{{.AL.E}}</td></tr>
      </table></div>
</body></html>
{{end}}
